.card {
  background: #fff;
  display: flex;
  height: fit-content;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  box-shadow: none;
  transition: border 0.2s;
}

.card:hover {
  border: 1.5px solid #212121;
  box-shadow: none;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  background: #fff;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
  transition: filter 0.3s ease-out;
  will-change: filter;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.favoriteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s, border 0.2s;
  z-index: 1;
}

.favoriteButton:hover {
  background: #f6f6f6;
}

.favoriteButton.active svg path {
  fill: #e30611;
  stroke: #e30611;
}

.content {
  padding: 20px 14px 24px 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #222;
  text-decoration: none;
  line-height: 1.3;
  transition: color 0.2s;
}

.title:hover {
  color: orange;
}

.dimensions,
.additionalOptions {
  display: flex;
  flex-direction: column;
}

.dimensionSelect,
.optionSelect {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  font-size: 15px;
  color: #222;
  background-color: #fff;
  cursor: pointer;
  transition: border 0.2s;
}

.dimensionSelect:hover,
.optionSelect:hover {
  border-color: #212121;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.oldPrice {
  font-size: 14px;
  color: #bbb;
  text-decoration: line-through;
  margin-left: 8px;
}

.addToCartButton {
  padding: 12px 0;
  background: #212121;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 4px;
}

.addToCartButton:hover {
  background: rgb(17, 17, 10);
}

.addToCartButton.inCart {
  background: #bbb;
  color: #fff;
}

.detailsLink {
  display: block;
  text-align: center;
  cursor: pointer;
  color: #666;
  width: 100%;
  font-size: 14px;
  transition: color 0.2s;
  margin-top: 2px;
}

.detailsLink:hover {
  color: #212121;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content {
    padding: 10px 10px 24px 10px;
    gap: 8px;
  }

  .title {
    font-size: 14px;
  }

  .price {
    font-size: 15px;
  }

  .addToCartButton {
    padding: 14px 24px;
    font-size: 13px;
  }
}